<div id="table-container" class="relative overflow-x-auto shadow-none  sm:rounded-lg border w-full">
  <div class="max-h-[500px] overflow-y-auto"> <!-- Add max height and scroll -->
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">Status</th>
          <th scope="col" class="px-6 py-3">Start</th>
          <th scope="col" class="px-6 py-3">End</th>
          <th scope="col" class="px-6 py-3">Updated</th>
          <th scope="col" class="px-6 py-3">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for workflow in workflows %}
        <tr
          class="bg-white {% if loop.index != workflows | length %}border-b dark:border-gray-700{% endif %} dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600"
          data-accordion="collapse">
          <td class="px-6 py-4">
            <div class="font-semibold text-gray-900 dark:text-white">
              {{ workflow.name }}
            </div>
            <div class="text-xs">
              {{ workflow.instance_id }}
            </div>
            <div class="text-xs">
              {{ workflow.run_id }}
          </td>
          <td class="px-6 py-4">{{ workflow.status }}</td>
          <td class="px-6 py-4">{{ workflow.start_time}} </td>
          <td class="px-6 py-4">{{ workflow.end_time}} </td>
          <td class="px-6 py-4">{{ workflow.updated_at}} </td>
          <td class="px-6 py-4">
            <button type="button" data-accordion-target="#workflow-{{ loop.index }}" aria-expanded="false"
              aria-controls="workflow-{{ loop.index }}" class="text-blue-600 dark:text-blue-500 hover:underline">
              View Actions
            </button>
          </td>
        </tr>
        <tr id="workflow-{{ loop.index }}" class="hidden">
          <td colspan="5" class="p-4 bg-gray-50 dark:bg-gray-900">
            <div class="text-gray-500 dark:text-gray-400">
              <p class="font-semibold mb-2">Actions:</p>

              {% for action in workflow.actions %}
              {% if action.Activity is defined %}
              <!-- Activity -->
              <div class="mb-2">
                <p class="font-medium">Activity: {{ action.Activity.name }}</p>
                <pre class="text-xs bg-gray-200 p-2 rounded">{{ action.Activity.data | safe }}</pre>
                <p class="text-xs text-gray-400">Timestamp: {{ action.Activity.timestamp }}</p>
              </div>
              {% elif action.ReceivedSignal is defined %}
              <!-- Incoming Signal -->
              <div class="mb-2">
                <p class="font-medium">Incoming Signal: {{ action.ReceivedSignal.signal_name }}</p>
                <p class="text-xs">Payload:</p>
                <pre class="text-xs bg-gray-200 p-2 rounded">{{ action.ReceivedSignal.payload | safe }}</pre>
                <p class="text-xs text-gray-400">Sent At: {{ action.ReceivedSignal.sent_at }}</p>
                {% if action.ReceivedSignal.processed_at is defined %}
                <p class="text-xs text-gray-400">Processed At: {{ action.ReceivedSignal.processed_at }}</p>
                {% else %}
                <p class="text-xs text-red-500">Unprocessed</p>
                {% endif %}
              </div>
              {% elif action.SentSignal is defined %}
              <!-- Outgoing Signal -->
              <div class="mb-2">
                <p class="font-medium">Outgoing Signal: {{ action.SentSignal.signal_name }}</p>
                <p class="text-xs">Payload:</p>
                <pre class="text-xs bg-gray-200 p-2 rounded">{{ action.SentSignal.payload | safe }}</pre>
                <p class="text-xs text-gray-400">Sent At: {{ action.SentSignal.sent_at }}</p>
                {% if action.SentSignal.processed_at is defined %}
                <p class="text-xs text-gray-400">Processed At: {{ action.SentSignal.processed_at }}</p>
                {% else %}
                <p class="text-xs text-red-500">Unprocessed</p>
                {% endif %}
              </div>
              {% elif action.Error is defined %}
              <!-- Error -->
              <div class="mb-2">
                <p class="font-medium text-red-500">Error:</p>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </td>
        </tr>


        {% endfor %}
      </tbody>
    </table>
    <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between p-4" aria-label="Table navigation">
      <span
        class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-4 md:mb-0 block w-full md:inline md:w-auto">Showing
        <span class="font-semibold text-gray-900 dark:text-white">**</span> of <span
          class="font-semibold text-gray-900 dark:text-white">*</span></span>
      <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
        <li>
          <a href="/workflows?cursor={{ prev_cursor }}&limit={{ limit }}&reverse=true"
            class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
        </li>
        <li>

          <a href="/workflows?cursor={{ next_cursor }}&limit={{ limit }}" hx-target="#table-container"
            class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>

        </li>
      </ul>
    </nav>
  </div>

</div>
